<div class="info-header">
    <img src="assets/img/mayhem.jpg" />
    <div class="mid-box">
        <div class="profil-id">
            <img class="profil-pict" src="assets/img/profil.jpg" />
            <div class="profil-tag">
                <div class="author-name">
                    Mayumi Himura
                </div>
                <div class="author-handle">
                    @mayhem
                </div>
            </div>
        </div>
        <a class="btn-donate" href="https://streamlabs.com/lunaoni/tip" target="_blank">DONATE</a>
    </div>
    <p class="description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla scelerisque nisl ut turpis vulputate commodo. Donec at maximus velit. Aliquam interdum, leo non dapibus iaculis, libero nulla laoreet urna, nec congue orci libero in velit.
    </p>
</div>