img {
    width: 100%;
    height: auto;
    margin-bottom: -5vh;
}

.info-header {
    box-shadow: 5px 5px 5px rgb(112, 112, 112);
    margin-bottom: 10px;
    background-color: white;
}

.profil-pict {
    width: 10vh;
    height: 10vh;
    border: 2px solid #ce0207;
    border-radius: 50%;
    overflow: hidden;
}

.profil-id {
    display: flex;
    height: 10vh;
    flex: 1;
}

.profil-tag {
    display: flex;
    justify-content: end;
    flex-direction: column;
    height: 100%;
    padding-left: 2%;
    flex: 1;
}

.description {
    padding: 0 3% 1.5% 3%;
}

.btn-donate {
    display: block;
    color: white;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #ce0207;
    box-shadow: 5px 5px 5px rgb(112, 112, 112);
    border: 1px solid #ce0207;
    border-radius: 0px 10px;
    padding: 1% 3%;
}

.btn-donate:hover {
    color: #ce0207;
    background-color: white;
}

.author-name {
    font-weight: bold;
}

.author-handle {
    font-size: 0.75em;
}

.mid-box {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
    padding: 0 3%;
}