<div class="post">
    <div class="content-info">
        <div class="author-info">
            <div class="picture-box">
                <img class="profil-pict" src="assets/img/profil.jpg" />
            </div>
            <div>
                <div class="author-name">
                    {{ author.name }}
                </div>
                <div class="author-handle">
                    {{ author.handle }}
                </div>
            </div>
        </div>
        <div>
            {{ date }}
        </div>
    </div>
    <div>
        <p>{{ content.text }}</p>
        <!-- picture -->
        <img class="post-img" src="assets/img/car-1.PNG" />
    </div>
</div>
