<div class="post">
    <div class="content-info">
        <div class="author-info">
            <div class="picture-box">
                <img class="profil-pict" src="assets/img/profil.jpg" />
            </div>
            <div>
                <div class="author-name">
                    {{ post.author.name }}
                </div>
                <div class="author-handle">
                    {{ post.author.handle }}
                </div>
            </div>
        </div>
        <div class="date-box">
            <span>{{ post.date }}</span>
        </div>
    </div>
    <div>
        <p>{{ post.content.text }} Credit:<a [href]="post.credit.link">{{ post.credit.name }}</a></p>
        <div class="post-img-box">
            <div *ngIf="hidder; else imgBlock" class="hidder">
                <button class="btn-show" (click)="onShow()">Show NSFW</button>
            </div>
            <ng-template #imgBlock>
                <img class="post-img" [src]="post.content.img" />
            </ng-template>
        </div>
    </div>
</div>
