.post {
    box-shadow: 5px 5px 5px rgb(112, 112, 112);
    margin-bottom: 10px;
    padding: 2% 2%;
    background-color: white;
}

.author-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.author-name {
    font-weight: bold;
}

.author-handle {
    font-size: 0.75em;
}

.content-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.picture-box {
    display: block;
    width: 7vh;
    height: 7vh;
    margin-right: 10px;
    border: 2px solid #ce0207;
    border-radius: 50%;
    overflow: hidden;
}

.profil-pict {
    height: 100%;
    width: 100%;
}

.post-img {
    max-width: 100%;
    max-height: 80vh;
}

.post-img-box {
    display: flex;
    justify-content: center;
    width: 100%;
}

.date-box {
    display: flex;
    align-items: center;
}

.hidder {
    display: flex;
    background-color: darkgrey;
    height: 15vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: inset 0px 0px 10px 10px white;
}

.btn-show {
    height: 25%;
    width: 20%;
}
