.post {
    box-shadow: 5px 5px 5px rgb(112, 112, 112);
    margin-bottom: 10px;
    padding: 2% 1.5%;
    background-color: white;
}

.author-info {
    display: flex;
    flex-direction: row;
}

.author-name {
    font-weight: bold;
}

.author-handle {
    font-size: 0.75em;
}

.content-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.picture-box {
    display: block;
    width: 5vh;
    height: 5vh;
    background-color: red;
    margin-right: 10px;
    border: 1px solid black;
}

.profil-pict {
    height: 100%;
    width: 100%;
}

.post-img {
    max-width: 100%;
    height: auto;
}

.post-img-box {
    display: flex;
    justify-content: center;
    width: 100%;
}