<div class="post">
    <div class="content-info">
        <div class="author-info">
            <div class="picture-box"></div>
            <div>
                <div class="author-name">
                    {{ author.name }}
                </div>
                <div class="author-handle">
                    {{ author.handle }}
                </div>
            </div>
        </div>
        <div>
            {{ date }}
        </div>
    </div>
    <div>
        <p>{{ content.text }}</p>
        <!-- picture -->
    </div>
</div>
