main {
    padding: 0.25% 25%;
    overflow-y: scroll;
    height: 92vh;
    scrollbar-width: none;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: white;
    padding: 0.25% 0;
}

img {
    height: 7vh;
}