main {
    padding: 0.25% 25%;
    overflow-y: scroll;
    height: 87vh;
    scrollbar-width: none;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: white;
    padding: 0.25% 0;
}

footer { 
    height: 5vh;
}

img {
    height: 7vh;
}

.placeholder {
    width: 7vh;
}

@media(max-width: 1000px){
    main{
        padding: 0.5% 15%;
    }
}


@media(max-width: 700px){
    main{
        padding: 1%;
    }
}